.build/
.swiftpm/
xcuserdata/
DerivedData/
*.pbxproj
*.xcworkspace
*.xcodeproj
*.mode1v3
*.mode2v3
*.perspectivev3
*.workspace
*.xcscmblueprint
*.xccheckout

CachedManifest.plist
DocumentThumbnail.plist
DocumentThumbnail.png
Workspace.plist
.swiftpm/playgrounds/CachedManifest.plist
.swiftpm/playgrounds/DocumentThumbnail.plist
.swiftpm/playgrounds/DocumentThumbnail.png
.swiftpm/playgrounds/Workspace.plist

Assets.xcassets/
*.xcassets

Resources/bgm.m4a

*.m4a
*.mp3
*.wav
*.aac
*.caf
*.aiff
*.ogg
*.flac

*.png
*.jpg
*.jpeg
*.heic
*.gif
*.tiff
*.bmp
*.svg
*.webp

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

Thumbs.db
thumbs.db
ehthumbs.db
Desktop.ini

Packages/
.swiftpm/xcode/
